body{
    background: #eee;
}

.principal{
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    display: block;
    margin: 10px auto;
    box-shadow: 10px 10px 12px #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

.label_login{
    margin-right: 10px;
    font-weight: bold;
}

.img_log{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}

.form-group{
    margin-bottom: 10px;
}

.login{
    min-width: 300px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: #ffffffcc;
}

.help-block{
    font-size: 14px;
    text-align: right;
}

.forma{
    border-radius: 20px;
}

.carousel-item{
    height: 9cm;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    height: 9cm;
    filter: brightness(35%);
}

.tabla-precio{
    border: 1px solid #ccc;
    max-width: 350px;
    min-height: 300px;
    border-radius: 0 25px 0 25px;
    margin: 25px auto;
    background-color: white;
    box-shadow: 5px 5px 8px #ccc;
    display: block;
    padding: 0 0 8px 0;
}

.tabla-precio span{
    display: block;
}

.titulo{
    padding: 16px 0 0 0;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.precio{
    padding: 0 0 16px 0;
}

.fondo-bk-t{
    background-color: black;
    color: white;
    border-radius: 0 25px 0 0;
}

.fondo-bk{
    background-color: black;
    color: white;
}

.servicios{
    padding: 8px 0;
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 1px solid #ccc;
}

.tabla-precio ul{
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.tabla-precio ul li{
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    margin-left: 30px;
}
.tabla-precio a{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.fondo-gr-t{
    background-color: #107a07;
    color: white;
    border-radius: 0 25px 0 0;
}

.fondo-gr{
    background-color: #107a07;
    color: white;
}

.fondo-rj-t{
    background-color: red;
    color: white;
    border-radius: 0 25px 0 0;
}

.fondo-rj{
    background-color: red;
    color: white;
}

.fondo-az-t{
    background-color: blue;
    color: white;
    border-radius: 0 25px 0 0;
}

.fondo-az{
    background-color: blue;
    color: white;
}

.caja{
    background-color: #b2e9f3;
    margin: 30px 0;
    padding: 40px 10px;
    border-radius: 20px;
}

.limk{
    text-decoration: none;
    color: #0062cc;
    border-bottom: 2px solid #0062cc;
    font-size: 1.3em;
}

.icono{
    color: #0062cc;
}

form {
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="month"],
  input[type="number"] {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-comprar{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-comprar:hover {
    background-color: #3e8e41;
  }
  
  .button-registro{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-registro:hover {
    background-color: #3e8e41;
  }
  #seccion{
	float: left;
	width: 660px;
	margin: 20px;
}
  article{
	border: 1px solid black;
	padding: 20px;
	margin-bottom: 15px;
	background: #FBD3CA;
}

article footer{
	text-align: right;
}

time{
	color: #999999;
}
  