//<!-- colores de fondo -->
$bg-bkyt: black;
$bg-fgr: #107a07;
$bg-frj: red;
$bg-az: blue;
$bg-bcomreg: #4CAF50;
$bg-hcomreg: #3e8e41;
$bg-ctable: white;
$bg-article: #FBD3CA;
$bg-login: #ffffffcc;
$bg-caja:#b2e9f3;
$bg-principal: #fff;

//bordes
$border-bottom: 1px solid white;
$border-bottomlink: 2px solid #0062cc; 
$border-radiusprincipal: 10px;
$border-radiusform: 4px;
$border-radiustprecio: 0 25px 0 25px;
$border-radiusfondo: 0 25px 0 0;
$border-radiusimg: 50%;
$border-radiuscaja: 20px;
$border-article: 1px solid black;

// margenes
$margin-principal: 10px auto;
$margin-img: 0 auto 10px;
$margin-table: 25px auto;
$margin-tableul: 0;
$margin-tableulli: 30px;
$margin-tableprecio: 10px;
$margin-form: 0 auto;
$margin-caja: 30px 0;
$margin-formbottom: 5px;
$margin-formseccion: 20px;
$margin-formarticle: 15px;

//paddings
$padding-principal: 10px;
$padding-login: 14px 14px 0;
$padding-tprecio: 0 0 8px 0;
$padding-titulo: 16px 0 0 0;
$padding-precio: 0 0 16px 0;
$padding-servicios: 8px 0;
$padding-tprecioul: 0;
$padding-tprecioulli: 8px 0;
$padding-caja: 40px 10px;
$padding-finput: 5px;
$padding-fbcompreg: 10px 20px;
$padding-article: 20px;

//box shadow
$box-shadowprincipal: 10px 10px 12px #ccc;
$box-shadowtprecio: 5px 5px 8px #ccc;

//display
$display-gn: block;

//color fondo
$color-fondo:white;
$color-link:#0062cc;
$color-time: #999999;
$color-icono:#0062cc;
$color-button: #fff;